@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 231 48% 97%;
    --foreground: 222 84% 5%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;
    --primary: 231 48% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 231 33% 91%;
    --secondary-foreground: 222 84% 5%;
    --muted: 231 33% 91%;
    --muted-foreground: 226 44% 44%;
    --accent: 261 44% 63%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 85%;
    --input: 231 20% 90%;
    --ring: 231 48% 48%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 231 48% 99%;
    --sidebar-foreground: 226 44% 44%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 231 33% 91%;
    --sidebar-accent-foreground: 231 48% 48%;
    --sidebar-border: 231 20% 85%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 222 84% 5%;
    --foreground: 0 0% 98%;
    --card: 222 74% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 68%;
    --primary-foreground: 0 0% 98%;
    --secondary: 222 44% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 44% 15%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 261 44% 73%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 44% 15%;
    --input: 222 44% 15%;
    --ring: 231 48% 68%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 222 84% 5%;
    --sidebar-foreground: 215 20.2% 65.1%;
    --sidebar-primary: 231 48% 68%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 222 44% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 222 44% 15%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
